# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
firmware/RISKYXBoot/obj/*
firmware/RISKYX/obj/*
firmware/XBootloader/obj/*
firmware/XBootloader/.mrs/*
board/RISKYX68000-backups/*
.gitignore
board/~RISKYX68000.kicad_sch.lck
board/#auto_saved_files#
board/~RISKYX68000.kicad_pcb.lck
board/fp-info-cache
firmware/RISKYX/.mrs/*
firmware/RISKYX/.settings/*
firmware/RISKYXBoot/.mrs/*
firmware/RISKYXBoot/.settings/*
